<h2>{{ .Get "version" }} Released {{ .Get "date" }}</h2>
<p>
The notes below indicate changes and additions to the software. Please review these release notes
carefully when deciding to apply a software update to an installation. 
</p>

<p>
Each note is related to an issue tracking assignment number (starting with CACTWO) in the heading. 
Please refer to the change with this tracking assignment number when communicating questions or issues.
</p>

<p>
The heading also contains a parenthesized "Change Type", indicating the severity or importance of
the change.  The severities used are:
</p>

<ul>
  <li><strong style="color: darkred">Critical</strong> - Recommended that this application be upgraded as soon as possible at all sites
  running previous versions.
  <li><strong style="color: orange">Conditionally Critical</strong> - Recommended that this application be upgraded as soon as possible at
  all sites running previous versions matching the stated conditions.
  <li><strong style="color: green">Important</strong> - Recommended upgrading the application if the customer is experiencing the issue
  denoted or currently applying a work-around for a specific non-functional feature.
  <li><strong style="color: blue">Enhancement</strong> - Recommended upgrading only if the specific functionality is desired.
</ul>
